.smallCenterDiv {
    background-color: rgba(24, 17, 24, 0.45);
    color: white;
    width: 50%;
    height: 40%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 5px solid white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 370px;
    min-height: 420px;
}

.bigCenterDiv {
    background-color: rgba(24, 17, 24, 0.45);
    color: white;
    width: 80%;
    height: 80%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 5px solid white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 370px;
    min-height: 420px;
}

.hb1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 75%;
    min-width: 300px;
    margin: auto;
    padding: 5px;
    background-color: rgba(24, 17, 24, 0.45);
    border: 1px solid white;
}

.centerHorizontally{
    display: flex;
    justify-content: center;
}

.btn-outline-gray{
    border: darkslategray solid 1px;
    color: darkslategray;
}

.btn-outline-pink{
    border: #BA4A7E solid 1px;
    color: #BA4A7E;
}

.btn-outline-gray:hover{
    border: darkslategray solid 1px;
    background-color: darkslategray;
    color: white;
}

.btn-outline-pink:hover{
    border: #BA4A7E solid 1px;
    background-color: #BA4A7E;
}

.my-btn{
    padding: 3rem;
    margin: auto;
    margin-top: 1rem;
}

@media (max-width: 1000px) {
    .my-btn{
        padding: 1rem;
        margin: auto;
        margin-top: 3rem;
    }

    #SocialsDiv{
        height: 320px;
        min-height: 320px;
    }
}
