$primary: #EAAC8B;
$secondary: #6D597A;
$body-bg: #EAAC8B;
$nav-tabs-link-active-color: black;
$accordion-bg: #00000000;
$accordion-button-bg: rgb(83, 83, 83);
$accordion-button-active-bg: #6D597A;
$accordion-button-padding-x: 1rem;
$accordion-button-padding-y: 0.5rem;
$carousel-control-width: 3%;

//Import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss';
